.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

.form-width {
    width: 25%;
    max-width: 600px;
}

.card-signin {
    border: 0;
    border-radius: 15px;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-img-left {
    width: 45%;
    object-fit: cover;
}

.card-signin .card-img-left img{
    width: 100%;
    height: 100%;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
    margin-bottom: 0;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.form-signin .btn {
    padding: 14px 40px;
    font-weight: bold;
    font-size: 99%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    transition: all 0.2s;
}

.form-signin .error {
    box-shadow: 0 0 1.5px 1px red;
}

.form-signin .error-message {
    color: red;
    opacity: 60%;
    position: relative;
    top: 2px;
}

.form-signin .success {
    box-shadow: 0 0 1.5px 1px green;
}

.secondary-text {
    color: #64656c;
    font-size: 14px;
}
