.profile-container {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.profile-img {
    width: 75%;
    height: 175px;
    text-align: center;
}

.profile-img img {
    max-width: 100%;
    max-height: 100%;
}

.profile-head h5 {
    color: #333;
}

.profile-head h6 {
    color: #818182;
}

.profile-edit-btn {
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.profile-edit-btn:hover {
    color: #4d5153;
}

.profile-head .nav-tabs {
    margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
}

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 9%;
}

.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-work div {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-tab label {
    font-weight: 600;
    color: #818182;
}

.profile-tab p {
    font-weight: 600;
    color: rgb(33,37,41);
}