body {
    background-color: #fec84e;
}

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

a {
    text-decoration: none;
}

.navbar .custom-navbar-container {
    width: 100%;
    padding: 0 10px;
}

.footer {
    left: 0;
    position: fixed;
    bottom: 0;
    text-align: center;
    color: rgba(255,255,255, 0.55);
    width: 100%;
}

.footer a {
    color: rgba(255,255,255, 0.55);
}

.footer a:hover {
    color: rgba(255,255,255, 0.75);
}